.podium {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.podium div {
    width: 35%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.9em;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podium-name {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.podium-1 {
    height: 150px;
    background-color: gold;
    position: relative;
    font-weight: bolder;
}

.podium-2 {
    height: 100px;
    background-color: silver;
    position: relative;
    font-weight: bolder;
}

.podium-3 {
    height: 50px;
    background-color: #cd7f32;
    position: relative;
    font-weight: bolder;
}
